@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-content">
    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title">
                <h1>
                    Mantenimiento Noticias
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-dashboard"></i> Mantenimiento Noticias</li>
                </ol>
            </div>
        </div>
    </div>
    <div id="divFormularioNoticia">
       
            <div class="portlet portlet-dark-blue">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4><i class="fa fa-exchange fa-fw"></i><label id="lblFormNoticia"></label></h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="transactionsPortlet" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-xs-1">
                                <input type="hidden" id="hdfIdNoticia" />
                                <input type="hidden" id="hdfFechaIngreso" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <label for="txtNombre">Título:</label>
                                <input type="text" class="form-control" id="txtTitulo" name="txtTitulo" />
                            </div>
                            <div class="col-xs-5">
                                <label for="chkActivo">Activa:</label>
                                <input type="checkbox" class="form-control" checked="checked" id="chkActivo" name="chkActivo" />
                            </div>
                        </div>
                        <br />
                        <div>
                            <div class="summernote" id="txtContenido"></div>
                        </div>
                        <br />
                    </div>
                    <div class="portlet-footer">
                        <div class="row">
                            <div class="col-md-offset-4 col-xs-5 col-sm-3 col-md-2">
                                <input type="button" value="Cancelar" class="btn btn-danger" onclick="LimpiarDivCrearNoticia()" />
                            </div>
                            <div class="col-xs-5 col-sm-3 col-md-2">
                                <input type="button" value="Guardar" class="btn btn-success" onclick="Guardar()" />
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

    </div>
        <!-- /.row -->
    <!-- end PAGE TITLE AREA -->
    <div class="row" id="tblNoticia">
        <div class="col-lg-12">
            <div class="portlet portlet-green">
                <div class="portlet-heading">
                    <div class="portlet-title">
                        <h4><i class="fa fa-exchange fa-fw"></i> Listado de Noticias</h4>
                    </div>
                    <div class="portlet-widgets">
                        <a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div id="transactionsPortlet" class="panel-collapse collapse in">
                    <div class="portlet-body">
                        <div class="table-responsive dashboard-demo-table">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>

                                        <th width="20px">Id</th>
                                        <th>Título</th>
                                        <th width="120px">Activa</th>
                                        <th width="150px">Fecha Ingreso</th>
                                        <th width="19px"></th>
                                        <th width="15px"></th>
                                        <th width ="19px"></th>
                                    </tr>
                                </thead>
                                <tbody id="tblNoticias"></tbody>
                            </table>
                        </div>

                        <button class="btn btn-grey btn-md" onclick="CrearNoticia()">
                            Nueva Noticia
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>           
    <!-- Modal -->
    <div class="row">
        <div class="col-xs-12">
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="PreviewModalLabel"></h3>
                        </div>
                        <div class="modal-body" id="bodyPreviewNoticia">

                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    


</div>

@section Scripts{
    <script>
    $(document).ready(function () {
        var noticiaEditada = undefined;
        $('#divFormularioNoticia').hide();
        //var objNoticias = null;
        
        $('#tblNoticia').show();

        CargarNoticias();
    });

    function LimpiarDiv() {
        $('#hdfId').val('');
        $('#hdfFechaIngreso').val('');
        $('#txtTitulo', '#frmNuevaNoticia').val('');
        $('#txtContenido', '#frmNuevaNoticia').val('');
        $('#chkActiva').prop('checked', true);
        $('#flexModal').modal('hide');
    }

    function CargarNoticias(data) {
        if (data != undefined) {
            MostrarAlerta("¡Enhorabuena!", 'success', data);
            LimpiarDivCrearNoticia();
        }
        AjaxCall('@Url.Action("GetNoticias", "Noticia")', '', '', CargarData, false);
    }

    function CrearNoticia() {
        $('#hdfIdNoticia').val('0');
        $('#tblNoticia').hide();
        $('#lblFormNoticia').text('Nueva noticia');
        $('.summernote').summernote({
            height: 350,
            placeholder: 'Digite el contenido de su noticia',

        });
        $('#divFormularioNoticia').show();
        $('.summernote').summernote({ focus: true });
    }

    function LimpiarDivCrearNoticia() {
        $('#tblNoticia').show();
        $('#divFormularioNoticia').hide();
        $('#txtTitulo').val('');
        $('#chkActiva').prop('checked', true);
        $('.summernote').summernote('code', '');
    }

    function EditarNoticia(id) {
        var CargarDatosNoticia = function (data) {
            noticiaEditada = data;
            $('#tblNoticia').hide();
            $('#divFormularioNoticia').show();
            $('#lblFormNoticia').text('Editar noticia');
            $('#txtTitulo').val(noticiaEditada.Titulo);
            $('#chkActivo').prop('checked', noticiaEditada.Activo);
            $('#hdfFechaIngreso').val(new FechaUtility(noticiaEditada.FechaIngreso).GetDate());
            $('.summernote').summernote('code', noticiaEditada.Contenido);
            $('.summernote').summernote({ focus: true });
            $('#hdfIdNoticia').val(noticiaEditada.Id);
        }
        AjaxCall('@Url.Action("GetNoticia", "Noticia")', { "id": id }, '', CargarDatosNoticia, false);
    }

    function CargarData(response) {
        //objNoticias = response;
        $('#tblNoticias').empty();
        if (response.length > 0) {
            for (var i = 0; i < response.length; i++) {

                var noticia = response[i];
                var btnEliminar = "<input type='button' class='btn btn-danger' value='Eliminar' onclick='EliminarNoticia(" + noticia.Id + ")' />";
                var btnEditar = "<input type='button' class='btn btn-warning' value='Editar' onclick='EditarNoticia(" + noticia.Id + ")' />";
                var btnPreview = '<input type="button" value="Preview" class="btn btn-info" onclick="PreviewNoticia('+noticia.Id+')"/>';
                var html = '<tr>' +
                '<td>' + noticia.Id + '</td>' +
                '<td>' + noticia.Titulo + '</td>' +
                '<td>' + ((noticia.Activo == false) ? 'NO' : 'SI') + '</td>' +
                '<td>' + new FechaUtility(noticia.FechaIngreso).GetDate() + '</td>' +
                '<td>' + btnPreview + '</td>' +
                 '<td>' + btnEditar + '</td>' +
                '<td>' + btnEliminar + '</td>' +
                '</tr>';
                $('#tblNoticias').append(html);
            }
        } else {
            $('#tblNoticias').append("<tr><td colspan='6'>No hay datos para mostrar!</td></tr>");
        }

    }
    function PreviewNoticia(id)
    {
        var Preview = function (data) {
            $('#myModal').modal('show');
            $('#PreviewModalLabel').text('Preview de "'+data.Titulo+'"');
            $('#bodyPreviewNoticia').html(data.Contenido);
        };
        AjaxCall('@Url.Action("GetNoticia", "Noticia")', { "id": id }, '', Preview, false);
    }

    function EliminarNoticia(Id) {
        swal({
            title: "¿Confirmar borrado?",
            text: "La noticia eliminada no podrá recuperarse",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Confirmar",
            cancelButtonText: "Cancelar",
            closeOnConfirm: false
        },
        function () {
            AjaxCall('@Url.Action("EliminarNoticia", "Noticia")', { "id": Id }, '', CargarNoticias, false);
            //swal("Deleted!", "Your imaginary file has been deleted.", "success");
        });

    }

    function Guardar() {

        if ($("#txtTitulo").val().length > 0) {
            swal({
                title: "Guardar noticia",
                text: "¿Confirma que desea guardar la noticia?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Confirmar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false
            },
            function () {

                if ($('.summernote').summernote('code').length <= 11) {
                    MostrarAlerta('Creación de Noticia', 'info', 'Debe escribir el contenido de la noticia');
                } else {
                    var Noticia = new Object();
                    Noticia.Id = $('#hdfIdNoticia').val();
                    Noticia.Titulo = $('#txtTitulo').val();
                    Noticia.FechaIngreso = $('#hdfFechaIngreso').val();
                    Noticia.Activo = $('#chkActivo').prop('checked');
                    Noticia.Contenido = $('.summernote').summernote('code');
                    AjaxCall('@Url.Action("GuardarNoticia", "Noticia")', Noticia, '', CargarNoticias, false);
                }
            });
        } else {
            MostrarAlerta('Creación de Noticia', 'info', 'Debe escribir el título de la noticia');
        }
    };


    </script>
}