@{
    ViewBag.Title = "Perfil de Usuarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using CamajanSport.BOL;

@model Usuario


<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title">
                <h1>
                    Perfil de Usuario
                </h1>
                <ol class="breadcrumb">

                    <li><i class="fa fa-dashboard"></i> Dashboard</li>
                    <li class="active"> Perfil de usuario</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="portlet portlet-default">
                <div class="portlet-body">
                    <ul id="userTab" class="nav nav-tabs">
                        <li class="active">
                            <a id="ref_General" href="#overview" data-toggle="tab">General</a>
                        </li>
                        <li>
                            <a id="ref_CambiarImagen" href="#profile-image" data-toggle="tab">Cambiar Imagen de Perfil</a>
                        </li>
                        <li>
                            <a id="ref_CambiarPass" href="#profile-settings" data-toggle="tab">Cambiar Contraseña</a>
                        </li>

                    </ul>
                    <div id="userTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="overview">

                            <div class="row">
                                <div class="col-lg-2 col-md-3">

                                    @{
                                        if (Model.Imagen == null)
                                        {
                                            <img class="img-responsive img-profile" src="~/img/desconocido.png" alt="">
                                        }
                                        else
                                        {
                                            <img class="img-responsive img-profile" src="@Model.Imagen" alt="">
                                        }
                                        
                                    }

                                    
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">Publicaciones realizadas</a>
                                        <a href="#" class="list-group-item">MLB<span class="badge green">17</span></a>
                                        <a href="#" class="list-group-item">NFL<span class="badge red">10</span></a>
                                        <a href="#" class="list-group-item">NBA<span class="badge blue">25</span></a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-5">

                                    <h1>@Model.NombreCompleto</h1>
                                    <p>@Model.Biografia</p>
                                    <ul class="list-inline">
                                        <li><i class="fa fa-map-marker fa-muted"></i>@Model.pais.Nombre</li>
                                        <li><i class="fa fa-user fa-muted"></i> @Model.rol.Nombre</li>
                                    </ul>
                                    @Html.ValidationSummary(true, "", new { @class="alert alert-warning"})
                                    <h3 class="page-header">Actualizar Información Personal</h3>

                                    <form role="form" method="post" action="PerfilUsuario">
                                        @Html.HiddenFor(m => m.IdUsuario)
                                        @Html.HiddenFor(m => m.IdRol)
                                        @Html.HiddenFor(m => m.IdEstado)
                                        <div class="row form-group">
                                            <div class="col-xs-12">
                                                <label>Nombre Completo:</label>
                                                @Html.TextBoxFor(m => m.NombreCompleto, new { @class="form-control"})
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-xs-12">
                                                <label>Telefono</label>
                                                @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-xs-12">
                                                <label>Correo Electrónico:</label>
                                                @Html.TextBoxFor(m => m.CorreoElec, new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-xs-4">
                                                <label for="IdPais">País</label>
                                                <select id="IdPais" name="IdPais" class="objeto" style="width:100%"></select>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col-xs-12">
                                                <label for="Biografia">Biografía</label>

                                                @Html.TextAreaFor(m => m.Biografia, new {  @class="form-control", rows="3", id="Biografia"})
                                                
                                            </div>
                                        </div>

                                        <button class="btn btn-green">Guardar</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="profile-image">

                            <div class="row">
                                <div class="col-sm-3">
                                    <ul id="userSettings" class="nav nav-pills nav-stacked">
                                        <li class="active">
                                            <a href="#profilePicture" data-toggle="tab"><i class="fa fa-picture-o fa-fw"></i> Imagen de perfil</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-9">
                                    <div id="userSettingsContent" class="tab-content">
                                        <div class="tab-pane fade in active" id="profilePicture">
                                            <h3>Imagen Actual:</h3>
                                            
                                            @{
                                                if (Model.Imagen == null)
                                                {
                                                    <img id="imgPreview" class="img-responsive img-profile" src="~/img/desconocido.png" alt="">
                                                }
                                                else
                                                {
                                                    <img id="imgPreview"  class="img-responsive img-profile" src="@Model.Imagen" alt="">
                                                }
                                                
                                            }


                                            <br>
                                            <div role="form">
                                                <div class="form-group">
                                                    <label>Seleccione una imagen:</label>
                                                    <input type="file" id="fileUploader">
                                                    <p class="help-block"><i class="fa fa-warning"></i> La imagen no puede ser mayor de 500x500 pixeles. Formatos soportados: JPG, GIF, PNG</p>
                                                    <button id="btnActualizarImagen" type="submit" class="btn btn-default disabled">Actualizar Imagen</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="profile-settings">

                            <div class="row">
                                <div class="col-sm-3">
                                    <ul id="userSettings" class="nav nav-pills nav-stacked">
                                        <li class="active">
                                            <a href="#changePassword" data-toggle="tab"><i class="fa fa-lock fa-fw"></i>Cambiar Contraseña:</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-9">
                                    <div id="userSettingsContent" class="tab-content">
                                        <div class="tab-pane fade in active" id="changePassword">
                                            <div class="row">
                                                <h3>Cambiar Contraseña:</h3>
                                            </div>
                                           
                                            <div class="row">
                                                <div class="col-xs-12 col-md-12" style="padding-left:0;">
                                                    <div id="mensajes" style="font-weight:bold;">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Contraseña Antigua:</label>
                                                    <input id="oldPass" type="password" class="form-control" value="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Contraseña Nueva:</label>
                                                    <input id="newPass" type="password" class="form-control" value="">
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="form-group">
                                                    <label>Confirmar Contraseña:</label>
                                                    <input id="rePass" type="password" class="form-control" value="">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <button id="btnUpdatePass" type="submit" class="btn btn-green">Actualizar</button>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.portlet-body -->
            </div>
            <!-- /.portlet -->


        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        function SuccessPasswordUpdated(data) {

            $('#mensajes').text(data.message);

            $('#mensajes').removeClass('alert alert-success');
            $('#mensajes').removeClass('alert alert-danger');

            $('#mensajes').addClass(data.property);

            $('#ref_CambiarPass').parent().addClass('active')

            $('#oldPass').val('');
            $('#newPass').val('');
            $('#rePass').val('');
        }

        $(document).ready(function () {

            $('#centralizado').removeClass('hidden')

            AjaxCall('@Url.Action("GetPaises_Select", "Pais")', undefined, 'IdPais', CargarDropDown, false)
            Init_SingleSelect2($('#IdPais'));

            $('#IdPais').val('@Model.IdPais').trigger('change');

            $('#btnUpdatePass').click(function () {

                var formObj = new Object();

                formObj.oldPass = $('#oldPass').val();
                formObj.newPass = $('#newPass').val();
                formObj.RePass = $('#rePass').val();

                AjaxCall('@Url.Action("UpdatePassword", "Usuario")', formObj, '', SuccessPasswordUpdated, true)
            })

            $("#fileUploader").change(function () {
                $('#btnActualizarImagen').removeClass('disabled');
                readURL(this, $('#imgPreview'));
            });

            $('#btnActualizarImagen').click(function () {

                var xhr = new XMLHttpRequest();
                var formData = new FormData();
                var fileUpload = document.getElementById('fileUploader');

                formData.append("afile", fileUpload.files[0]);

                
                xhr.open("POST", "/Usuario/ActualizarImagenPerfil");
                xhr.onreadystatechange = function (aEvt) {
                    if (xhr.readyState == 4) {
                        if (xhr.status == 200) {
                            MostrarAlerta("¡Enhorabuena!", 'success', xhr.responseText.replace('"', ""));
                        }
                        else {
                            MostrarAlerta("Error", 'error', xhr.responseText.replace('"', ""));
                        }
                    }
                }
                xhr.send(formData);
            });
        })



    </script>
}