@{
    ViewBag.Title = "Mantenimiento Publicaciones";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">

    <!-- begin PAGE TITLE AREA -->
    <!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
    <div class="row">
        <div class="col-xs-12">
            <div class="page-title">
                <h1>
                    Mantenimiento de Publicaciones
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-dashboard"></i> Mantenimiento de Publicaciones</li>
                </ol>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <!-- Flex Modal -->
    <div class="modal modal-flex fade" id="flexModal" tabindex="-1" role="dialog" aria-labelledby="flexModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="flexModalLabel">Nueva Publicación</h4>
                </div>
                <div class="modal-body">
                    <form id="frmNuevaPublicacion">
                        <input type="hidden" value="" id="idPublicacion"/>
                        <input type="hidden" value="" id="fechaIngreso" />
                        <div class="row">
                            <div class="col-xs-12 col-sm-7 col-md-6">
                                <div class="form-group">
                                    <label for="txtTitulo">Título</label>
                                    <input type="text" class="form-control" id="txtTitulo" name="txtTitulo" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-7 col-md-6">
                                <div class="form-group">
                                    <label for="txtFecha">Fecha</label>
                                    <input type="text" class="form-control" id="txtFecha" name="txtFecha" />
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="">Seleccione el Deporte</label>
                                    <select id="drpDeportes" class="form-control" name="drpDeportes" style="width:100%">
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="divEsMatchup">
                            <div class="col-xs-12 col-md-6">
                                ¿Es Matchup?
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optEsMatchup" id="optEsMatchup1" value="0" checked>
                                        No
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="optEsMatchup" id="optEsMatchup2" value="1">
                                        Si
                                    </label>
                                </div>


                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="drpEquipo1">Equipo 1</label>
                                    <select style="width:100%" class="form-control" id="drpEquipo1" name="drpEquipo1">
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="drpEquipo2">Equipo 2</label>
                                    <select style="width:100%" class="form-control" id="drpEquipo2" name="drpEquipo2">
                                        <option value="">Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row hidden" id="divMatchup">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="txtJugador1">Jugador Equipo 1</label>
                                    <input type="text" id="txtJugador1" name="txtJugador1" class="form-control" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="txtJugador2">Jugador Equipo 2</label>
                                    <input type="text" id="txtJugador2" name="txtJugador2" class="form-control" />
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12 col-sm-7 col-md-6">
                                <div class="form-group">
                                    <label for="txtPronostico">Pronóstico</label>
                                    <input type="text" id="txtPronostico" name="txtPronostico" class="form-control" />
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-7 col-md-6">
                                <div class="form-group">
                                    <label for="drpTipoPublicacion">Tipo publicación</label>
                                    <select style="width:100%" class="form-control" name="drpTipoPublicacion" id="drpTipoPublicacion">
                                        <option value="">Seleccione</option>
                                        <option value="0">Gratis</option>
                                        <option value="1">Premium</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 -col-md-6">

                                <label for="txtAnalisis">Análisis</label>
                                <textarea id="txtAnalisis" class="form-control" rows="10"></textarea>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="Cancelar()">Cancelar</button>
                    <button type="button" class="btn btn-green" id="btnGuardar" onclick="GuardarPublicacion()">Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="row">
        <div class="col-xs-5 col-xs-offset-1 col-sm-5 col-md-4 col-lg-4 col-md-offset-0">
            <a class="btn btn-primary" onclick="NuevaPublicacion()">Nueva Publicación</a>
        </div>
    </div><br />
    <div class="row" id="divFiltro">
        <div class="col-xs-6 col-md-3">
            <label for="txtFechaJuegoFiltro">Fecha Juego:</label>
            <input type="text" class="form-control" id="txtFechaJuegoFiltro" />
        </div>
        <div class="col-xs-6 col-md-3">
            <label for="drpDeportesFiltro">Deporte:</label>
            <select id="drpDeportesFiltro" class="form-control"></select>
        </div>
        <div class="col-xs-6 col-md-3">
            <label for="drpTipoPublicacion">Tipo Publicación:</label>
            <select id="drpTipoPublicacion" class="form-control">
                <option value="">TODO</option>
                <option value="1">Premium</option>
                <option value="0">Gratis</option>
            </select>
        </div>
        <div class="col-xs-6 col-md-3">
            <label for="drpEstadoFiltro">Estado Publicación:</label>
            <div class="input-group">

                <select id="drpEstadoFiltro" class="form-control">                  
                </select>
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="button" value="Buscar" onclick="Buscar()" />
                </span>
            </div>
        </div>        
    </div>
    </div><br />
    <div class="row">
        <div id="divPublicaciones" class="col-xs-11 col-xs-offset-1 col-md-offset-0 col-sm-9 col-md-12">

        </div>
        @*<div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-5">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>*@

</div>
@section Scripts{

    <script>
    $(document).ready(function () {

        //Initialize data toggle Tooltip
        $('[data-toggle="tooltip"]').tooltip();
        var objPublicaciones = undefined;
        var publicacion = undefined;
        Init_SingleSelect2($('#drpEquipo1'));
        Init_SingleSelect2($('#drpEquipo2'));
        Init_SingleSelect2($('#drpDeportes'));
        Init_SingleSelect2($('#drpTipoPublicacion'));
        $('#txtFechaJuegoFiltro', '#divFiltro').datetimepicker({
            //format: 'dd/mm/yyyy'
            format: 'DD/MM/YYYY'
        });
        $('#txtFecha').datetimepicker({
            format: 'DD/MM/YYYY hh:mm A'
        });


        $('#divEsMatchup').find('input[name="optEsMatchup"]').change(function () {
            if ($(this).val() == '1') {
                $('#divMatchup').removeClass('hidden');
            } else {
                $('#divMatchup').addClass('hidden');
                $('#txtJugador1', '#frmNuevaPublicacion').val('');
                $('#txtJugador2', '#frmNuevaPublicacion').val('');
            }
        });
        AjaxCall('@Url.Action("GetEstadosResultado_Select", "Publicacion")', '', 'drpEstadoFiltro', CargarDropDown, false,"TODO");
        AjaxCall('@Url.Action("GetDeportes_Select", "Deporte")', '', 'drpDeportesFiltro', CargarDropDown, false,"TODO");
        AjaxCall('@Url.Action("GetDeportes_Select", "Deporte")', '', 'drpDeportes', CargarDropDown);

        $('#drpDeportes').on("change", function () {
            AjaxCall('@Url.Action("GetEquiposByDeporte_Select", "Equipo")', { 'idDeporte': +$(this).val() }, 'drpEquipo1', CargarDropDown);
            AjaxCall('@Url.Action("GetEquiposByDeporte_Select", "Equipo")', { 'idDeporte': +$(this).val() }, 'drpEquipo2', CargarDropDown);
        });

        $("#frmNuevaPublicacion").validate({
            errorClass: 'control-label text-danger',
            rules: {
                txtTitulo: {
                    required: true,
                    lettersonly: true
                },
                txtFecha: {
                    required: true
                },
                drpDeportes: {
                    required: true
                },
                drpEquipo1: {
                    required: true
                },
                drpEquipo2: {
                    required: true
                },
                optEsMatchup: {
                    required: true
                },
                txtJugador1: {
                    required: "#optEsMatchup2:checked"
                },
                txtJugador2: {
                    required: "#optEsMatchup2:checked"
                },
                txtPronostico: {
                    required: true
                },
                drpTipoPublicacion: {
                    required: true
                }
            }
        });
        CargarData();

    });

    function Cancelar() {
        $('#flexModal').modal('hide');
        publicacion = undefined;
    }

    function Buscar() {
        CargarData();
    }

    function EditarPublicacion(index) {
        publicacion = objPublicaciones[index];
        $('#fechaIngreso').val(formatFecha(publicacion.FechaIngreso));
        $('#idPublicacion').val(publicacion.IdPublicacion);
        $('#txtTitulo', '#frmNuevaPublicacion').val(publicacion.Titulo);
        $('#txtFecha', '#frmNuevaPublicacion').data("DateTimePicker").date(new FechaUtility(publicacion.FechaJuego).GetDateTime());
        $('#drpDeportes', '#frmNuevaPublicacion').val(publicacion.Equipo1.Deporte.IdDeporte).change();
        AjaxCall('@Url.Action("GetEquiposByDeporte_Select", "Equipo")', { 'idDeporte': +publicacion.Equipo1.Deporte.IdDeporte }, '', CargarYSeleccionarDropDownEquipos);
        if (publicacion.EsMatchup) {
            $('#optEsMatchup2').prop('checked', true);
            $('#divMatchup').removeClass('hidden');
            $('#txtJugador1', '#frmNuevaPublicacion').val(publicacion.Jugador1);
            $('#txtJugador2', '#frmNuevaPublicacion').val(publicacion.Jugador2);
        } else {
            $('#optEsMatchup1').prop('checked', true);
            $('#divMatchup').addClass('hidden');
            $('#txtJugador1', '#frmNuevaPublicacion').val('');
            $('#txtJugador2', '#frmNuevaPublicacion').val('');
        }
        $('#txtPronostico', '#frmNuevaPublicacion').val(publicacion.Pronostico);
        $('#drpTipoPublicacion', '#frmNuevaPublicacion').val((publicacion.EsPremium) ? "1" : "0").change();
        $('#txtAnalisis', '#frmNuevaPublicacion').text(publicacion.Analisis);
        $('#flexModal').modal('show');
    }

    function CargarYSeleccionarDropDownEquipos(data) {
        CargarDropDown('drpEquipo1', data);
        CargarDropDown('drpEquipo2', data);
        $('#drpEquipo1').val(publicacion.IdEquipo1).change();
        $('#drpEquipo2').val(publicacion.IdEquipo2).change();
    }

    function GuardarPublicacion() {
        var validator = $("#frmNuevaPublicacion").validate();
        if (validator.form()) {
            var publicacion = new Object();
            if ($('#idPublicacion').val() != '') {
                publicacion.IdPublicacion = $('#idPublicacion').val();
                publicacion.FechaIngreso = $('#fechaIngreso').val();
            }
            publicacion.Titulo = $('#txtTitulo', '#frmNuevaPublicacion').val();
            publicacion.FechaJuego = $('#txtFecha', '#frmNuevaPublicacion').val();
            publicacion.EsMatchup = Boolean(parseInt($('input[name=optEsMatchup]:checked', '#frmNuevaPublicacion').val()));
            publicacion.IdEquipo1 = $('#drpEquipo1', '#frmNuevaPublicacion').val();
            publicacion.IdEquipo2 = $('#drpEquipo2', '#frmNuevaPublicacion').val();
            publicacion.Jugador1 = $('#txtJugador1', '#frmNuevaPublicacion').val();
            publicacion.Jugador2 = $('#txtJugador2', '#frmNuevaPublicacion').val();
            publicacion.Pronostico = $('#txtPronostico', '#frmNuevaPublicacion').val();
            publicacion.IdEstadoResultado = 1;
            publicacion.EsPremium = Boolean(parseInt($('#drpTipoPublicacion', '#frmNuevaPublicacion').val()));
            publicacion.Analisis = $('#txtAnalisis', '#frmNuevaPublicacion').text();

            AjaxCall('@Url.Action("GuardarPublicacion", "Publicacion")', publicacion, '', LimpiarForm);




        } else {
            //TODO si el form no es válido
        }
    }
    function NuevaPublicacion() {
        $('#idPublicacion').val('');
        $('#flexModal').modal("show");
    }

    function LimpiarForm() {
        publicacion = undefined;
        $('#idPublicacion').val('');
        $('#fechaIngreso').val('');
        $('#txtTitulo', '#frmNuevaPublicacion').val('');
        $('#txtFecha', '#frmNuevaPublicacion').val('');
        $('#optEsMatchup1').prop('checked', true);
        $('#drpEquipo1', '#frmNuevaPublicacion').val('').change();
        $('#drpEquipo2', '#frmNuevaPublicacion').val('').change();
        $('#txtJugador1', '#frmNuevaPublicacion').val('');
        $('#txtJugador2', '#frmNuevaPublicacion').val('');
        $('#txtPronostico', '#frmNuevaPublicacion').val('');
        $('#drpTipoPublicacion', '#frmNuevaPublicacion').val('0').change();
        $('#txtAnalisis', '#frmNuevaPublicacion').text('');
        MostrarAlerta("¡Enhorabuena!", 'success', 'La acción se realizó exitosamente.');
        $('#flexModal').modal('hide');
        CargarData();
    }

    function CambiarEstatus(IdPublicacion, IdEstadoResultado) {
        //alert(IdPublicacion+" ,el resultado es "+Resultado);
        AjaxCall('@Url.Action("CambiarEstatus", "Publicacion")', { "IdPublicacion": IdPublicacion, "IdEstadoResultado": IdEstadoResultado }, '', CargarData);
    }

        function CargarData(data) {
        AjaxCall(
            '@Url.Action("GetPublicacionesByFiltro", "Publicacion")',
            {
                "FechaJuego": ($('#txtFechaJuegoFiltro', '#divFiltro').val()!= "")?$('#txtFechaJuegoFiltro', '#divFiltro').val():null,
                "IdDeporte": ($('#drpDeportesFiltro', '#divFiltro').val() == "") ? 0 : $('#drpDeportesFiltro', '#divFiltro').val(),
                "IdEstadoResultado": ($('#drpEstadoFiltro', '#divFiltro').val() == "") ? 0 : $('#drpEstadoFiltro', '#divFiltro').val(),
                "TipoPublicacion": $('#drpTipoPublicacion', '#divFiltro').val()
            },
            '',
            CargarPublicaciones
        );
        if (data) {
            MostrarAlerta("¡Enhorabuena!", 'success', 'La acción se realizó exitosamente.');
        }
    }

    function CargarPublicaciones(response) {
        $('#divPublicaciones').empty();
        objPublicaciones = response;
        var cantRows = Math.ceil(objPublicaciones.length / 3);
        var cont = 1;
        var crearRow = true;
        var html = "";
        if (objPublicaciones.length > 0) {
            for (var i = 0; i < objPublicaciones.length; i++) {
                var publicacion = objPublicaciones[i];
                var srcImgDeporte = "data:image/png;base64," + _arrayBufferToBase64(publicacion.Equipo1.Deporte.Imagen).toString();
                var imgDeporte = '<img width="80" class="pull-right" heigth="40" src="' + srcImgDeporte + '" alt="Deporte"/>';
                var srcImgEquipo1 = "data:image/png;base64," + _arrayBufferToBase64(publicacion.Equipo1.Imagen).toString();
                var srcImgEquipo2 = "data:image/png;base64," + _arrayBufferToBase64(publicacion.Equipo2.Imagen).toString();
                var imgEquipo1 = '<img width="100" heigth="50" src="' + srcImgEquipo1 + '" class="center-block" alt="Equipo 1"/>';
                var imgEquipo2 = '<img width="100" heigth="50" src="' + srcImgEquipo2 + '" class="center-block" alt="Equipo 2"/>';
                var fechaJuego = new FechaUtility(publicacion.FechaJuego);
                if (crearRow) {
                    html += "<div class='row'>";
                    crearRow = false;
                }

                html += '<div class="col-lg-4 col-xs-12">';
                if (publicacion.IdEstadoResultado == 1) {
                    html += '<div class="portlet portlet-default">';
                } else if (publicacion.IdEstadoResultado == 2) {
                    html += '<div class="portlet portlet-green">';
                } else {
                    html += '<div class="portlet portlet-red">';
                }

                html += '<div class="portlet-heading">' +
                '<div class="portlet-title">' +
                '<h4>' + publicacion.Equipo1.Deporte.Nombre + ' - ' + fechaJuego.GetDayName() + ' ' + fechaJuego.GetDay() + ' ' + fechaJuego.GetMonthName() + ' </h4>' +
                '</div>' +
                '<div class="portlet-widgets">' +
                '<div class="btn-group">' +
                '<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                /*((publicacion.Resultado == null) ? 'Pendiente' : (publicacion.Resultado == true) ? 'Ganó' : 'Perdió') + '<span class="caret"></span>' +*/
                '<i class="fa fa-tasks pointer"></i>' +
                '</a>' +
                '<ul class="dropdown-menu">' +
                '<li><a href="#" onclick="CambiarEstatus(' + publicacion.IdPublicacion + ',2)">Ganado</a></li>' +
                '<li><a href="#" onclick="CambiarEstatus(' + publicacion.IdPublicacion + ',3)">Perdido</a></li>' +
                '<li><a href="#" onclick="CambiarEstatus(' + publicacion.IdPublicacion + ',1)">Pendiente</a></li>' +

                '</ul>' +
                '</div><span class="divider"></span>' +
                '<a onclick="EditarPublicacion(' + i + ')" title="Editar"><i class="fa fa-edit pointer"></i></a>';
                //if (publicacion.Resultado == null) {

                //            html += '<span class="divider"></span>' +
                //                '<a title="En espera del resultado"><i class="glyphicon glyphicon-hourglass"></i></a>';
                //        }

                html += '<span class="divider"></span>' +
                    '<a data-toggle="collapse" data-parent="#accordion" href="#' + publicacion.IdPublicacion + '"><i class="fa fa-chevron-down"></i></a>' +
                    '</div>' +
                    '<div class="clearfix"></div>' +
                    '</div>' +
                    '<div id="' + publicacion.IdPublicacion + '" class="panel-collapse collapse ">' +
                    '<div class="portlet-body">' +
                    '<p>' + publicacion.Analisis + '</p>' +
                    '</div>' +
                    '</div>' +
                    '<div class="portlet-footer">' +
                    '<div class="row">' +
                    '<p class="text-center">' + publicacion.Titulo + '</p>' +
                '</div>' +
                //Equipos
                    '<div class="row">' +
                '<div class="col-xs-4 col-xs-offset-0 col-md-4 col-md-offset-0">' +
                    imgEquipo1 +
                     '<p class="text-center"><strong>' + publicacion.Equipo1.Abrev + '</strong></p>';
                if (publicacion.EsMatchup) {
                    html += '<p class="text-center"><strong>' + publicacion.Jugador1 + '</strong></p>';
                }
                

                html += '</div>';
                html += '<div class="col-xs-4 col-xs-offset-0 col-md-4"> <p class="text-center"><strong>' + fechaJuego.GetTime() + '</strong></p>'+
                    '<p class="text-center"><strong>' + publicacion.EstadoResultado.Descripcion + '</strong></p></div>';
                html += '<div class="col-xs-4 col-xs-offset-0 col-md-4 ">' +
                    imgEquipo2 +
                    '<p class="text-center"><strong>' + publicacion.Equipo2.Abrev + '</strong></p>';
                if (publicacion.EsMatchup) {
                    html += '<p class="text-center"><strong>' + publicacion.Jugador2 + '</strong></p>';
                }
                html += '</div>' +
                '</div>';
                html +=
                //Pronostico
                    '<div class"row">' +
                '<div class="center-block">' +
                'PICK:' + publicacion.Pronostico +
                '</div>' +
                '</div>' +
                //end pronostico
                '</div>' +
                '</div>' +
                '</div>';
                if (cont == 3) {
                    html += "</div>";
                    cont = 1;
                    crearRow = true;
                } else {
                    cont++;
                }


            }
            if (cont <= 3) {
                html += "</div>";

            }
            $('#divPublicaciones').append(html);
        }
        else {
            MostrarAlerta("Información", 'info', 'No existen publicaciones para mostrar');
        }
    }


</script>
}