@{
    Layout = null;
}
@using Utilidades;
@using System.Web.Script.Serialization;
@using CamajanSport.BOL;

@{

    var ticket = Utilidades.CookieHandler.GetDecryptTicket();

    Usuario modelo = new Usuario();
    JavaScriptSerializer js = new JavaScriptSerializer();

    modelo = js.Deserialize<Usuario>(ticket.UserData);
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Camajan Sport</title>

    <link href="~/css/plugins/pace/pace.css" rel="stylesheet">
    <script src="~/js/plugins/pace/pace.js"></script>
    <!-- GLOBAL STYLES - Include these on every page. -->
    <link href="~/css/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    <link href="~/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/plugins/messenger/messenger.css" rel="stylesheet">
    <link href="~/css/plugins/messenger/messenger-theme-flat.css" rel="stylesheet">
    <link href="~/css/plugins/morris/morris.css" rel="stylesheet">
    <link href="~/css/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <link href="~/css/plugins/datatables/datatables.css" rel="stylesheet">
    <link href="~/css/plugins/dropzone/css/dropzone.css" rel="stylesheet">

    <link href="~/css/plugins/bootstrap-datepicker/datepicker3.css" rel="stylesheet" />

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/css/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet">
    @RenderSection("CSS", required: false)

</head>

<body>
    <div id="wrapper">
        <nav class="navbar-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
                    <i class="fa fa-bars"></i> Menu
                </button>
                <div class="navbar-brand">

                    @*<img src="~/img/flex-admin-logo.png" data-1x="~/img/flex-admin-logo@1x.png" data-2x="~/img/flex-admin-logo@2x.png" class="hisrc img-responsive" alt="">*@
                    <p style="color:white;">CAMAJANSPORT</p>
                </div>
            </div>

            <div class="nav-top">
                <ul class="nav navbar-left">
                    <li class="tooltip-sidebar-toggle">
                        <a href="#" id="sidebar-toggle" data-toggle="tooltip" data-placement="right" title="Sidebar Toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">
                <ul id="side" class="nav navbar-nav side-nav">
                    <li class="side-user hidden-xs">

                        <img id="imgPerfil" src="@modelo.Imagen" class="img-circle" style="width:150px; height:150px;" alt="">
                        <p class="welcome">
                            <i class="fa fa-key"></i> Ha iniciado sesion como:
                        </p>
                        <p class="name tooltip-sidebar-logout">
                            <span class="last-name">@modelo.NombreCompleto</span> <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip" data-placement="top" title="terminar sesión"><i class="fa fa-sign-out"></i></a>
                        </p>
                        <div class="clearfix"></div>
                    </li>
                    <li>
                        <a class="active" href="@Url.Action("Dashboard", "Admin")">
                            <i class="fa fa-dashboard"></i> Dashboard
                        </a>
                    </li>

                    <li class="panel">
                        <a href="javascript:;" data-parent="#side" data-toggle="collapse" class="accordion-toggle" data-target="#forms">
                            <i class="fa fa-edit"></i> Mantenimientos <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="collapse nav" id="forms">
                            <li>
                                <a href="@Url.Action("MantDeportes","Deporte")">
                                    <i class="fa fa-angle-double-right"></i> Deporte
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("MantEquipos","Equipo")">
                                    <i class="fa fa-angle-double-right"></i> Equipos
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("MantUsuarios", "Usuario")">
                                    <i class="fa fa-angle-double-right"></i> Usuarios
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("MantMembresias","Membresia")">
                                    <i class="fa fa-angle-double-right"></i> Membresias
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("MantPublicaciones","Publicacion")">
                                    <i class="fa fa-angle-double-right"></i> Publicaciones
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("PerfilUsuario", "Usuario")">
                            <i class="fa fa-wrench"></i> Perfil de usuario
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","LogIn")">
                            <i class="fa fa-sign-out"></i> Terminar Sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="page-content">

                @RenderBody()
            </div>
        </div>

    </div>
    <!-- /#wrapper -->
    <!-- GLOBAL SCRIPTS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script src="~/js/plugins/popupoverlay/defaults.js"></script>
    <!-- Logout Notification Box -->
    <div id="logout">
        <div class="logout-message">
            <img class="img-circle img-logout" src="~/img/profile-pic.jpg" alt="">
            <h3>
                <i class="fa fa-sign-out text-green"></i> Ready to go?
            </h3>
            <p>Haz click en "Logout" si estas listo<br> para terminar tu sesión.</p>
            <ul class="list-inline">
                <li>
                    <a href="@Url.Action("Index","LogIn")" class="btn btn-green">
                        <strong>Logout</strong>
                    </a>
                </li>
                <li>
                    <button class="logout_close btn btn-green">Cancel</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- /#logout -->
    <!-- Logout Notification jQuery -->
    <script src="~/js/plugins/popupoverlay/logout.js"></script>
    <!-- HISRC Retina Images -->
    <script src="~/js/plugins/hisrc/hisrc.js"></script>

    <!-- PAGE LEVEL PLUGIN SCRIPTS -->
    <!-- HubSpot Messenger -->
    <script src="~/js/plugins/messenger/messenger.min.js"></script>
    <script src="~/js/plugins/messenger/messenger-theme-flat.js"></script>
    <!-- Morris Charts -->
    <script src="~/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="~/js/plugins/morris/morris.js"></script>
    <!-- Flot Charts -->
    <script src="~/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/js/plugins/flot/jquery.flot.resize.js"></script>
    <!-- Sparkline Charts -->
    <script src="~/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- Moment.js -->
    <script src="~/js/plugins/moment/moment.min.js"></script>
    <script src="~/js/plugins/moment/moment-with-locales.min.js"></script>
    <script src="~/js/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <!-- jQuery Vector Map -->
    <script src="~/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/js/plugins/jvectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/js/demo/map-demo-data.js"></script>
    <!-- Easy Pie Chart -->
    <script src="~/js/plugins/easypiechart/jquery.easypiechart.min.js"></script>
    <!-- DataTables -->
    <script src="~/js/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/js/plugins/datatables/datatables-bs3.js"></script>
    <!-- PAGE LEVEL PLUGIN SCRIPTS -->
    <script src="~/js/plugins/dropzone/dropzone.js"></script>
    <!-- THEME SCRIPTS -->
    <script src="~/js/flex.js"></script>

    <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/plugins/select2/select2.min.js"></script>

    <script src="~/js/plugins/jquery.validate/jquery.validate.js"></script>
    <script src="~/js/plugins/jquery.validate/messages_es.js"></script>
    <script src="~/js/plugins/jquery.validate/utilities/lettersonly.js"></script>
    <script src="~/js/plugins/jquery.validate/utilities/decimal.js"></script>
    <script src="~/js/plugins/jquery.validate/utilities/integer.js"></script>
    <script src="~/js/plugins/autonumeric/autoNumeric.js"></script>
    @*<script src="~/js/demo/dashboard-demo.js"></script>*@
    <script src="~/js/helpers/Utilities.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
