@{
    Layout = null;
}
@using Utilidades;
@using System.Web.Script.Serialization;
@using CamajanSport.BOL;
@using CamajanSport.Controllers;

@{
    MenuInitializer menuInitializer = new MenuInitializer();
    var ticket = Utilidades.CookieHandler.GetDecryptTicket();
    Usuario modelo = new Usuario();
    JavaScriptSerializer js = new JavaScriptSerializer();
    modelo = js.Deserialize<Usuario>(ticket.UserData);
    var menuHtml = menuInitializer.Initialize(modelo);
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Camajan Sport</title>

    @Styles.Render("~/css/plugins/bootstrap/css/bootstrap.min.css")
    @Styles.Render("~/css/plugins/bootstrap/css/bootstrap-theme.min.css")
    @Styles.Render("~/icons/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/css/plugins/select2/select2.min.css")
    @Styles.Render("~/css/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css")
    @Styles.Render("~/Content/css/AdminLayout")
    @Styles.Render("~/css/plugins/summernote/summernote-bs3.css")
    @Styles.Render("~/css/plugins/summernote/summernote.css")
    @RenderSection("CSS", required: false)

</head>

<body>
    <div id="LoadingGif" class="hidden"></div>
    <div id="wrapper">
        <nav class="navbar-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".sidebar-collapse">
                    <i class="fa fa-bars"></i> Menu
                </button>
                    <a class="navbar-brand" style="position:absolute;top:-10px" href="@Url.Action("RedirectUserToHomePage", "Usuario")"><img width="200" src="~/img/logo-text.png" alt="Basica"></a>
                    @*<img src="~/img/flex-admin-logo.png" data-1x="~/img/flex-admin-logo@1x.png" data-2x="~/img/flex-admin-logo@2x.png" class="hisrc img-responsive" alt="">*@
                    @*<p style="color:white;">CAMAJANSPORT</p>*@
             
            </div>

            <div class="nav-top">
                <ul class="nav navbar-right">
                    <li class="tooltip-sidebar-toggle">
                        <a href="#" id="sidebar-toggle" data-toggle="tooltip" data-placement="auto" title="Sidebar Toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="navbar-side" role="navigation">
            <div class="navbar-collapse sidebar-collapse collapse">
                <ul id="side" class="nav navbar-nav side-nav">
                    <li class="side-user hidden-xs">

                        @{
                            
                                if (modelo.Imagen == null)
                                {
                              <img id="imgPerfil" src="~/img/desconocido.png" class="img-circle" style="width:150px; height:150px;" alt="">
                            }
                                else
                                {
                        <img id="imgPerfil" src="@modelo.Imagen" class="img-circle" style="width:150px; height:150px;" alt="">
                            }
                        }
                        <p class="welcome">
                            <i class="fa fa-key"></i> Ha iniciado sesion como:
                        </p>
                        <p class="name tooltip-sidebar-logout">
                            <span class="last-name">@modelo.NombreCompleto</span>
                        </p>
                        <div class="clearfix"></div>
                    </li>
                    @Html.Raw(menuHtml.Text)
                </ul>
            </div>
        </nav>
        <div id="page-wrapper">
            <div class="page-content">
                @RenderBody()
            </div>
        </div>

    </div>

    @Scripts.Render("~/js/jquery-1.10.min.js")
    @Scripts.Render("~/js/plugins/bootstrap/bootstrap.min.js")
    @Scripts.Render("~/js/plugins/slimscroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/js/plugins/moment/moment.min.js")
    @Scripts.Render("~/js/plugins/moment/moment-with-locales.min.js")
    @Scripts.Render("~/js/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/js/plugins/summernote/summernote.min.js")
    @Scripts.Render("~/js/plugins/sweetalert/sweetalert.min.js")
    @Scripts.Render("~/js/plugins/select2/select2.min.js")


    @Scripts.Render("~/bundles/js/AdminLayout")                                                             

    @RenderSection("Scripts", required: false)

</body>

</html>
