<!DOCTYPE html>4
<html class="no-js">
<head>
    <title>Pronósticos Deportivos | Sports Betting</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css/HomeLayout")
    @RenderSection("Styles", false)
</head>
<body>
    <div id="LoadingGif" class="hidden">
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")"><img style="width:250px;" src="~/img/logo-text.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li><a href="@Url.Action("Membresias","Home")">Membresia</a></li>
                    <li><a href="@Url.Action("Picks","Home")">Picks Gratis</a></li>
                    <li><a href="@Url.Action("Expertos","Home")">Quienes Somos</a></li>
                    <li><a href="@Url.Action("Contactos","Home")">Contactos</a></li>
                </ul>

                @Html.Partial("_LoginPartial")
                
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>


    <div class="footer">
        <div class="container">

            <div class="row">

                <div class="col-footer col-md-6 col-xs-6">
                    <h3>CONTACTOS</h3>
                    <p class="contact-us-details">
                        <b>Correo:</b> <a href="mailto:camajandeportivo@gmail.com">camajandeportivo@gmail.com</a>
                        <br />
                        <b>Whatsapp:</b> +1 829-667-6372<br />

                    </p>
                    <p>
                        <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/logo-center/9_bdg_secured_by_pp_2line.png" border="0" alt="Secured by PayPal"></a>
                    </p>
                </div>
                <div class="col-footer col-md-6 col-xs-6">
                    <h3>REDES SOCIALES</h3>
                    <div>
                        <img src="~/img/icons/facebook.png" width="32" alt="Facebook">
                        <img src="~/img/icons/twitter.png" width="32" alt="Twitter">
                    </div>
                    <p>
                        @*<!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->*@
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">Copyright  &copy; 2017 CAMAJANDEPORTIVO.COM</div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/js/modernizr-2.6.2-respond-1.1.0.min.js")
    @Scripts.Render("~/js/jquery-1.9.1.min.js")
    @Scripts.Render("~/js/plugins/sweetalert/sweetalert.min.js")
    @Scripts.Render("~/bundles/js/HomeLayout")

    @RenderSection("HomeScripts", false);
</body>
</html>


<script type="text/javascript">


    function SuccessOrError(data) {
        window.location.reload();
    }

    var WireEvents = function () {

        var btnEntrar = $('#LogIn');

        btnEntrar.on('click', function () {

            var objeto = {
                'correo': $('#txtEmail').val(),
                'password': $('#txtPassword').val()
            };
            AjaxCall('@Url.Action("SignIn","LogIn")', objeto, "", SuccessOrError, true);

        });

        $('#txtEmail, #txtPassword').on('keyup', function (e) {
            var self = $(this);
            if (e.which == 13) {
                self.blur();
                btnEntrar.click();
            }
        })

    }

    $(document).ready(function () {
        WireEvents()
    });

</script>