@using Utilidades;
@using System.Web.Script.Serialization;
@using CamajanSport.BOL;

<!DOCTYPE html>

<html class="no-js">
<head>
    <title>Pronósticos Deportivos | Sports Betting</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    <link href="~/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/icomoon-social.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/demo.css" rel="stylesheet">
    <link href="~/css/plugins/sweetalert/sweetalert.css" rel="stylesheet" />

    <script src="~/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>

</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/img/logo-text.png" alt="Basica"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                    <li><a href="@Url.Action("Expertos","Home")">Expertos</a></li>
                    <li><a href="@Url.Action("Membresias","Home")">Membresias</a></li>
                </ul>

                @Html.Partial("_LoginPartial")

            </div>
        </div>
    </header>

    <div>
        @RenderBody()
    </div>


    <div class="footer">
        <div class="container">

            <div class="row">

                <div class="col-footer col-md-4 col-xs-6">
                    <h3>CONTACTOS</h3>
                    <p class="contact-us-details">
                        <b>Correo:</b> <a href="mailto:camajandeportivo@gmail.com">camajandeportivo@gmail.com</a>
                        <br />
                        <b>Whatsapp:</b> +1 829-667-6372<br />

                    </p>
                </div>
                <div class="col-footer col-md-4 col-xs-6">
                    <h3>REDES SOCIALES</h3>
                    <div>
                        <img src="~/img/icons/facebook.png" width="32" alt="Facebook">
                        <img src="~/img/icons/twitter.png" width="32" alt="Twitter">
                    </div>
                </div>
                <div class="col-footer col-md-4 col-xs-6">
                    <h3>QUIENES SOMOS</h3>
                    <p>El sitio no está asociado con nadie, ni tampoco está avalada por un profesional o colegial, asociación o equipo. CamajanDeportivo no se dirige a un público menor de 18 años. Por favor, visite paginas encargadas para las instrucciones sobre el juego responsable.</p>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-copyright">Copyright  &copy; 2016 CAMAJANDEPORTIVO.COM</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Javascripts -->
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/scrolling-nav.js"></script>
    <script src="~/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/plugins/spin/spin.js"></script>
    <script src="~/js/helpers/Utilities.js"></script>
    @RenderSection("HomeScripts", false);
</body>
</html>

