@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@using CamajanSport.BOL

@model List<Usuario>

@Html.Partial("~/Views/Shared/_PartialOferta.cshtml")

@{
    int iterador = 0;
}

<!--camajanes-->

<div class="container">

    <!-- Introduction Row -->
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h1 class="page-header">
                Conoce nuestros expertos.
            </h1>
            <p>
                Nuestros expertos tienen para tí las mejores selecciones. Somos los mejores pronosticadores (tipster) de apuestas deportivas en español. Elegir un buen tipster requiere estudiar tus necesidades y los deportes y mercados en los que vas a apostar.
            </p>
        </div>
    </div>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center"><strong>Camajanes</strong></h1>
        </div>
        @{
            foreach (Usuario user in Model)
            {
                if (iterador % 3 == 0)
                {
                    @Html.Raw("<div class='row'>")
                }
                <div class="col-lg-4 col-sm-6 text-center">
                    <img class="img-circle img-center" src="@user.Imagen" width="200" height="200" alt="">
                    <h3>
                        @user.NombreCompleto

                    </h3>
                    <p>@user.Biografia</p>
                </div>

                iterador++;
                if ((iterador % 3) == 0)
                {
                    @Html.Raw("</div>")
                }
            }
        }
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>