@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


@using CamajanSport.BOL

@model List<Publicacion>

@section Styles {
        @Styles.Render("~/Content/css/Home/Picks");
}

@Html.Partial("~/Views/Shared/_PartialOferta.cshtml")

<div class="main-content">
    <div style="width:20%; float:left;">
        &nbsp
    </div>
    <main style=" width: 60%; float: left;">
        <section class="insider-pick-feed">
            <h2 class="text-center">
                Pronósticos
            </h2>
            <article class="insiderPickPreview">
                <div class="header">
                    @if (ViewBag.CantPremium != null)
                    {@ViewBag.CantPremium} Pronósticos Premium
                </div>
                <div class="main">Unicamente exclusivo para nuestros clientes VIP </div>
            </article>

            <article class="insiderPickPreview">
                <div class="main menuPrincipal">

                    <a class="activelink" data-coddeporte="0">Todos</a>
                    @foreach (Deporte deporte in (List<Deporte>)ViewBag.MenuDinamico)
                    {
                        <a data-coddeporte="@deporte.IdDeporte">@deporte.Nombre</a>
                    }

                </div>
            </article>

            <div id="RenderPartial">

            </div>
        </section>
    </main>

    <aside style="float: right; width: 20%; padding-left:10px;">
        <div class="home-expertos text-center">
            <span>Pronosticos de:</span>
        </div>
        <section>
            @Html.Partial("~/Views/Shared/_PartialHomeExpertos.cshtml", (List<Usuario>)ViewBag.Expertos)
        </section>
    </aside>
    <div style="clear:both"></div>
</div>

@section HomeScripts{

    @Html.Partial("~/Views/Shared/_PartialScriptHomeExpertos.cshtml")

    <script type="text/javascript">

        $(document).ready(function () {

            $('#LoadingGif').removeClass('hidden')
            $("#RenderPartial").load('@Url.Action("PartialPublicaciones", "Home")' + '?CodDeporte=0');

            $('div.menuPrincipal a').on('click', function () {

                $('#LoadingGif').removeClass('hidden')

                var self = $(this);
                var div = self.closest('div');
                var CodDeporte = self.data('coddeporte');
                div.find('.activelink').removeClass();

                self.addClass('activelink');

                $("#RenderPartial").load('@Url.Action("PartialPublicaciones", "Home")' + '?CodDeporte=' + CodDeporte);
            });

        });
    </script>
}